<img align="right" width="250" height="150" src="https://lh3.googleusercontent.com/p/AF1QipPWZQfa087JiVjutpUTVEGRnh6W214Wjm439gKQ=w1080-h608-p-no-v0">

## **Proyecto:** Retención de usuarios de la Plataforma Digital

#### El objetivo de este notebook es realizar el análisis EDA del archivo de `..\Gestar_YYYYMM.csv` con el objeto de ver que datos incorporar en el archivo de `..\Crosseling_ampliado_YYYYMM.csv`.

In [8]:
import pandas as pd
import pandas_profiling
import os

try:
    # Monto la unidad de drive porque los archivos son muy grandes
    from google.colab import drive
    drive.mount('/content/drive')
    DIR = '/content/drive/MyDrive/Trayecto3-DataDriven/Data/'
except:
    # Sino lo consigo asumo que estoy trabajando local
    DIR = os.path.abspath(r'..\Data\Export') + '\\'

In [9]:
uc = [
    'CASETYPEID',
    'CASETYPE',
    'CANORIGID',
    'CANORIG',
    'TYPE_CODSUCURSAL',
    'STATEID',
    'State',
    'CREATEDDATE',
    'CREATEDMONTH',
    'ENDDATE',
    'SING_TIPODOC',
    'SING_NRODOC',
    'TYPE_NROCTA',
    'TYPE_NROTARJETA',
    'NIVEL 1',
    'NIVEL 2',
    'NIVEL 3',
    'TYPE_MARCATARJETA',
    'TPOSOLUCION_CALCULADO',
    'TYPE_IMPORTE_TOTAL_RECLAMADO',
    'TYPE_IMPORTE_TOTAL_REINTEGRADO',
    'Motivo_Baja_Producto',
    'VIA',
    'ACEPTA CONTACTO',
    'TYPE MOTIVO GESTION BANCON',
    'DIAS_DEMORA_DETALLE',
    'CASETYPEPATH',
    'STARTDATE',
    'TYPE_TC_TIPOTARJETA',
    'TYPE_TARJETA_NRO',
    'TYPE_RUBRO_COMERCIO',
    'type_importe_total_reclamado_dolares',
    'TYPE_CONVENIO',
    'TYPE_UBICACION',
    'type_tipo_plataforma_bancon',
    'type_motivo_gestion_bancon_empresas',
    'type_motivo_consulta_bancon_empresas',
    'type_motivo_consulta_bancon'
]

tc = dict(zip(uc, [str] * len(uc)))
tc.update({'TYPE_IMPORTE_TOTAL_RECLAMADO': float, 'TYPE_IMPORTE_TOTAL_REINTEGRADO': float, 'DIAS_DEMORA_DETALLE': int, 'type_importe_total_reclamado_dolares': float})

In [10]:
file = DIR + 'Gestar_202204.csv'
df = pd.read_csv(file, index_col=False, usecols=uc, dtype=tc, parse_dates=['CREATEDDATE', 'ENDDATE', 'STARTDATE'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132175 entries, 0 to 132174
Data columns (total 38 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   CASETYPEID                            132175 non-null  object
 1   CASETYPE                              132175 non-null  object
 2   CANORIGID                             132175 non-null  object
 3   CANORIG                               132175 non-null  object
 4   TYPE_CODSUCURSAL                      101479 non-null  object
 5   STATEID                               132175 non-null  object
 6   State                                 132175 non-null  object
 7   CREATEDDATE                           132175 non-null  datetime64[ns]
 8   CREATEDMONTH                          132175 non-null  object
 9   ENDDATE                               127418 non-null  datetime64[ns]
 10  SING_TIPODOC                          130270 non-null  object
 11  SING_NRODOC                           132175 non-null  object
 12  TYPE_NROCTA                           3269 non-null    object
 13  TYPE_NROTARJETA                       6249 non-null    object
 14  NIVEL 1                               132175 non-null  object
 15  NIVEL 2                               132175 non-null  object
 16  NIVEL 3                               127744 non-null  object
 17  TYPE_MARCATARJETA                     39702 non-null   object
 18  TPOSOLUCION_CALCULADO                 127418 non-null  object
 19  TYPE_IMPORTE_TOTAL_RECLAMADO          7143 non-null    float64
 20  TYPE_IMPORTE_TOTAL_REINTEGRADO        5666 non-null    float64
 21  Motivo_Baja_Producto                  2852 non-null    object
 22  VIA                                   128014 non-null  object
 23  ACEPTA CONTACTO                       132175 non-null  object
 24  TYPE MOTIVO GESTION BANCON            3144 non-null    object
 25  DIAS_DEMORA_DETALLE                   132175 non-null  int32
 26  CASETYPEPATH                          132175 non-null  object
 27  STARTDATE                             124592 non-null  datetime64[ns]
 28  TYPE_TC_TIPOTARJETA                   5137 non-null    object
 29  TYPE_TARJETA_NRO                      4351 non-null    object
 30  TYPE_RUBRO_COMERCIO                   4 non-null       object
 31  type_importe_total_reclamado_dolares  741 non-null     float64
 32  TYPE_CONVENIO                         1115 non-null    object
 33  TYPE_UBICACION                        0 non-null       object
 34  type_tipo_plataforma_bancon           11771 non-null   object
 35  type_motivo_gestion_bancon_empresas   15 non-null      object
 36  type_motivo_consulta_bancon_empresas  28 non-null      object
 37  type_motivo_consulta_bancon           8905 non-null    object
dtypes: datetime64[ns](3), float64(3), int32(1), object(31)
memory usage: 37.8+ MB

In [19]:
# Analizamos
df.reset_index(drop=True, inplace=True)
report = pandas_profiling.ProfileReport(df)
report

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
# Obtengo los reclamos de la BANCON y sumarizo la cantidad de ellos en el mes por usuario
df = df[df['TYPE MOTIVO GESTION BANCON'].notnull()]
df = df.groupby(by=['ID_USER']).size().to_frame().reset_index()
df.columns = ['ID_USER', 'CANT_REC_PD']

In [7]:
df.sample(20)

                               ID_USER  CANT_REC_PD
2410  d11861fac1834babada2fe40b151b248            1
1709  90d826f12c22468baa84d30a76d61215            1
928   4fafc92325bd4d0d87bfa5d0e9d1515c            2
2007  ad47d8968e804333b74a5de1940b60ad            1
2138  b8ae6ac426d14853843169819e8345f7            1
1539  826ff63d351640dbb683792baec02410            1
804   4469902abb0d4d29ae7932b0dfb7dbf4            1
1817  9cf9d8f746f54a96998df3ca819b02f1            1
163   0f24934cb22d4722838475ea8634d11e            1
2630  e3a34049991b497a830913c34a44853d            1
1876  a24109746a934b5487c7caceba353721            1
1864  a189e4396e0547e2b154653fb9107918            1
1254  688ce880e7854cdcb4ac59776ce04098            2
1627  898d6723ffb7473a85cd1a06a9929c21            1
2513  d96264fcb2c74c2fad8b92e5ad1288a0            1
276   1852e4c2978a4cff87a72d40be2353ee            1
289   19e50cbc7e9a4ca69732ee22fe287361            2
2364  cdbc98f3f8334c22b69ec75db26ea2cb            1
2818  f4c3e51218364b139013275f79491546            1
1221  66c9c6eecf4f4428ad991a966308b1f9            1